:root {
    --screen-height: 100%;
    --screen-width: 100%;
    --background-color: gray;
    --min-calc-width: 350px;
    --min-calc-height: 600px;
    --global-font: 'Courier New', Courier, monospace;
    --calculator-bg: #20063B;
    --buttons-bg: #A1C9CB;
    --ce-bg: #9B6073;
    --ac-bg: #cc3363;
    --equals-bg: #62c370;
    --operator-bg: #ffc43d;
    --screen-bg: #bfd200;
}



html {
    margin: 0 auto;
    position: absolute;
    background-color: var(--background-color);
    height: var(--screen-height);
    width: var(--screen-width);
    font-family: var(--global-font);
    font-size: 30px;

    
}

.body {
    margin: 0 auto;
    width: var(--min-calc-width);
    height: var(--min-calc-height);
    
}

.calculator {
    width: var(--min-calc-width);
    height: var(--min-calc-height);
    margin: 0 auto;
    
    
}

.display {

    background-color: var(--calculator-bg);
    height: 180px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom: 4px;
    border-bottom-color: #3e1768;
    border-bottom-style: groove;
    border: 4px groove #3e1768;
}

.screen {
    height: 60%;
    width: 80%;
    background-color: var(--screen-bg);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    box-sizing: content-box;
}

.screen > div {
    background-color: var(--screen-bg);
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
}


.buttons-wrapper {
    position: relative;
    background-color: var(--calculator-bg);
    height: auto;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border: 4px groove #3e1768;
}

.button-group > div{
    margin-bottom: 10px;
}

.button {

    height: 70px;
    width: 70px;
    color: white;
    background-color: var(--buttons-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text {
    padding-top: 4px;
    color: black;
}

.operator {
    background-color: var(--operator-bg);
}

#AC {
    background-color: var(--ac-bg);
}

#CE {
    background-color: var(--ce-bg);
}

#equals {
    background-color: var(--equals-bg);
}
